<template>
    <img
      class="pokeball2-logo"
      alt="pokeball2 "
      src="/pokeball2.png"
    >
  </template>
  
  <style>
  .pokeball2-logo {
    height: 180px;
    width: 180px;
    transform: rotateY(560deg);
    animation: turn 3.5s ease-out forwards 1s;
  }
  
  @keyframes turn {
    100% {
      transform: rotateY(0deg);
    }
  }
  </style>
  