<template>
  <v-layout wrap>
    <v-row>
      <v-col cols="12">
        <v-toolbar>
          <div style="color: #ee1515">Pokedex</div>

          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          >
          </v-text-field>
        </v-toolbar>
      </v-col>

      <v-col
        class="pa-2"
        cols="12"
        lg="2"
        md="3"
        sm="6"
        xs="12"
        v-for="(pk, idx) in this.filterDex"
        :key="idx"
      >
        <v-card>
          <v-img height="160px" style="padding: 20px" :src="pk.sprites.normal">
          </v-img>
          <v-card-title>{{ pk.name }}</v-card-title>
          <v-card-subtitle class="pb-0"> {{ pk.type }}</v-card-subtitle>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="orange" text> Add Favorite </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-layout>
</template>

<script>
// import data from '../data/pokemons.json'
const URL =
  "https://raw.githubusercontent.com/joseluisq/pokemons/master/pokemons.json";
export default {
  data: () => ({
    pokedex: [],
    search: "",
    filterDex: [],
    // favDex:[],
  }),
  created() {
    this.initialize();
  },
  methods: {
    async initialize() {
      try {
        // this.pokedex = data.results
        const res = await this.$axios.get(URL);
        this.pokedex = res.data.results;
        this.filterDex = this.pokedex;
      } catch (err) {
        console.log(err);
      }
    },
  },
  watch: {
    search(val) {
      this.filterDex = this.pokedex.filter((pk) => {
        return pk.name.toLowerCase().indexOf(val.toLowerCase()) != -1;
      });
    },
  },
};
</script>

<style></style>
