<template>
  <v-row>
    <v-col class="text-center">
      <img
        src="/pokeball2.png"
        alt="pokeball"
        class="mb-5"
      >
      <blockquote class="blockquote">
        &#8220;“Pi, ka, chu.” &#8221;
        <footer>
          <small>
            <em>&mdash; Pikachû</em>
          </small>
        </footer>
      </blockquote>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'InspirePage'
}
</script>
